# Ignore video files
*.mp4
*.avi
*.mov

# Ignore PDF files
*.pdf

# Ignore uploaded files directory (if you store them in a specific folder)
OnlineCenter/wwwroot/images
OnlineCenter/wwwroot/Assignments
OnlineCenter/wwwroot/AssignmentsAnswers
OnlineCenter/wwwroot/videos

# Ignore Visual Studio build and settings files (optional but recommended)
bin/
obj/
*.user
*.vs
*.suo

# Ignore specific configuration or secret files
appsettings.Development.json
appsettings.Production.json
