@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                    <h1>Innovative Way To Learn</h1>
                </div>
                <p>
                    At our core, we believe in delivering exceptional experiences and lasting impressions. We are committed to creating value through dedication, innovation, and a deep understanding of your needs. Our journey is built on a foundation of trust, creativity, and a relentless pursuit of excellence.

                    Every step we take is guided by a desire to exceed expectations, with an unwavering focus on quality and integrity. We strive to transform challenges into opportunities, ensuring that every interaction leaves a positive impact.

                    Join us as we continue to innovate, inspire, and redefine what’s possible, one success story at a time.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
